[submodule "bench/nanobench"]
	path = bench/nanobench
	url = ../nanobench.git
[submodule "bench/decimal"]
	path = bench/decimal
	url = ../decimal.git
[submodule "bench/double-conversion"]
	path = bench/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "bench/dragonbox"]
	path = bench/dragonbox
	url = https://github.com/jk-jeon/dragonbox.git
